@model ShelterInfoType

@{
    ViewData["Title"] = "Donation Details";
    int? uid = @Context.Session.GetInt32("UserId");
}

<div class="w-75 mx-auto">
    <h2>@Model.Location</h2>
    <small>@Model.Location - @Model.ShortDescription</small>

    @if (@Model.Type == "Image")
    {
        <img src="@Model.Src" alt="@Model.ShortDescription" width="100%">
    }
    else if (@Model.Type == "Youtube Embed")
    {
        <iframe width="100%" height="800" src="@Model.Src" title="@Model.ShortDescription" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    }
    else
    {
        <iframe title="@Model.ShortDescription" src="@Model.Src" width="100%" height="800" style="border:0;"
        allowfullscreen="" loading="lazy"></iframe>
    }

    @if (uid == Model.UserId)
    {
        <div>
            <button class="btn btn-sm btn-outline-warning">Edit</button>
            <button class="btn btn-sm btn-outline-danger">Delete</button>
        </div>
    }
    @* <div>
    <partial name="_AddDonation"/></div> *@
</div>